/* #selettore{
propietà:red;
} */

body{
  background-image: url(.jpg);
  background-repeat: no-repeat;
  background-size: 1550px 900px;


}
.quadrato {
width: 206vh;
height: 90px;
background-image: url(download.jpg);
display: inline-block;
list-style-type: none;
margin-left: 0px;
margin-right: 0px;
position: absolute;
left: 0px;
top: 0px;
padding-left: 0;
margin-left: 0;
}

.titolo{
text-align: center;

}

.sottoquad{
width: 1536px;
height: 47px;
background-color: black;
position: absolute;
top: 90px;
bottom: 109px;


}



.test{
position: relative;
left: 1400px;

}

.testt{
font-size: 50px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

.io{
  position: absolute;
  left: 200px;
  top: 12px;
  color:white;
}

.p{
  position: absolute;
  top: 12px;
  left: 740px;
  color: white;
}

.l{
  position: absolute;
  top: 12px;
  left: 1200px;
  color: white;
}


.k{
position: absolute;
left: 65px;
top: 90px;

}



.u{
  position: absolute;
  left: 65px;
  top: 120px;




}


.g{
  position: absolute;
  left: 65px;
  top: 150px;



}


.s{
  position: absolute;
  left: 65px;
  top: 170px;



}

.popo{
  position: absolute;
  left: 65px;
  top: 200px;


}

.num{
color:black;
position: absolute;
left: 1400px;
top: 700px;




}
.email{
color: black;
position: absolute;
left: 1400px;
top: 650px;

}

.cubo{

background-image: url(th.jpg);
width: 200px;
height: 280px;
position: absolute;
left: 662px;
top: 325px;
display: inline-block;

}
