/* #selettore{
propietà:red;
} */

.numero{

  background-color: darkgray;
  width: 70px;
  height: 70px;
  
}
.sopra{
  background-image: url('download.jpg');
  position: absolute;
  top: 0px;
  background-position:centre;
  width: 1536px;
  height: 90px;
  text-align: center;
  text-decoration:underline;
  text-decoration:overline;

  
  }


body{
  background-image: url('foto 1.jpeg');
  width: 1080px;


}



.lool{
background-image: url('download.jpg');
position: absolute;
left: 0px;
top: 0px;
width: 30px;



}

.quadrato {
width: 206vh;
height: 90px;
display: inline-block;
list-style-type: none;
margin-left: 0px;
margin-right: 0px;
position: absolute;
left: 0px;
top: 0px;
padding-left: 0;
margin-left: 0;

}

.titolo{
text-align: center;

}

.sottoquad{
width: 1537px;
height: 47px;
background-color: black;
position: absolute;
top: 90px;
bottom: 109px;
display: inline-block;


}



.test{
position: relative;
left: 1400px;

}

.testt{
font-size: 50px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

.faceBook{
  position: absolute;
  left: 200px;
  top: 12px;
  color:white;
  background-size: 15px;
  width: 63px;
  height: 35px;

  
}

.instagram{
  position: absolute;
  top: 12px;
  left: 740px;
  color: white;
}

.tiktok{
  position: absolute;
  top: 12px;
  left: 1200px;
  color: white;
}


.chi_siamo{
position: absolute;
left: 60px;
top: 50px;
color: white;


}



.dove_ci_potete_trovare{
  position: absolute;
  left: 60px;
  top: 80px;
  color: white;





}


.g{
  position: absolute;
  left: 65px;
  top: 150px;
  color: white;




}


.s{
  position: absolute;
  left: 65px;
  top: 170px;
  color: white;




}

.popo{
  position: absolute;
  left: 65px;
  top: 200px;
  color: white;


}

.num{
color:black;
position: absolute;
left: 1400px;
top: 700px;




}

.email{
color: black;
position: absolute;
left: 1400px;
top: 650px;

}

.cubo{
  border-radius: 20px;
background-color: black;
background-position: center;

width: 190px;
height: 240px;
position: absolute;
left: 667px;
top: 325px;
display: inline-block;
}

.altro{
  position: absolute;
  left: 60px;
  top: 126px;
  color: white;
  
  
  }

  .altro1{
    position: absolute;
    left: 60px;
    top: 156px;
    color: white;
    
    
    }

    .insta{
      position: absolute;
      left: 60px;
      top: 186px;
      color: white;
      
      
      }